@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  min-width: 320px;
  padding-top: 48px;
}

main {
  min-height: calc(100vh - 278px);
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

button {
  cursor: pointer;
}

/*-------------- HEADER --------------- */

.top-header {
  background-color: black;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

.top-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  max-width: 1440px;
  margin: 0 auto;
}

.logo {
  font-size: 2rem;
  font-weight: 900;
  user-select: none;
}

.logo-top {
  margin-left: 10px;
}

.open-menu,
.close-menu {
  background-color: transparent;
  border: none;
  height: 48px;
}

.close-menu {
  position: fixed;
  top: 0;
  right: 0;
}

.top-navbar {
  display: none;
  flex-direction: column;
  align-items: center;
  position: fixed;
  left: 0;
  top: 48px;
  width: 100%;
  height: 100%;
  background-color: black;
  overflow-y: auto;
  padding-top: 30px;
}

.top-navbar ul {
  text-align: center;
}

.top-navbar ul li {
  margin-bottom: 30px;
}

.social-nav a {
  margin: 0 10px;
}

/*----------------- MAIN ----------------------*/

.news-container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.news-img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.share-social-container {
  display: inline;
}

.share-social-container a {
  height: 30px;
  margin: 0 5px;
}

.share-social-container img:hover {
  transform: scale(1.05);
}

.news-time,
.article-time {
  font-size: 0.85rem;
}

.article-time {
  line-height: 30px;
  vertical-align: top;
  margin-left: 10px;
}

.lead-article {
  font-size: 1.15rem;
}

.news-title {
  font-weight: bold;
}

.content-article {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.content-article * {
  max-width: 100%;
}

.content-article a {
  color: #0289CB;
}

/* ------------------ FOOTER ------------------- */

.footer {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  padding: 10px 10px 5px;
}

.social-footer {
  display: flex;
  column-gap: 20px;
}

.social-footer a:hover {
  transform: scale(1.1);
}

.address-footer,
.copyright-footer {
  text-align: center;
}

.address-footer a {
  text-decoration: underline;
}

/*------------------ Login --------------------*/

.form-login {
  width: 95%;
  max-width: 400px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  padding: 10px;
  border: 1px solid black;
}

.form-login label {
  display: block;
}

.form-login input {
  width: 100%;
  border: 1px solid black;
  font-family: "Poppins", sans-serif;
  letter-spacing: 1px;
  font-size: 1rem;
  padding: 5px 10px;
}

.btn-login {
  align-self: center;
  padding: 5px 30px;
  font-family: "Poppins", sans-serif;
  letter-spacing: 1px;
  font-size: 1rem;
}

/*------------------ Admin --------------------*/

.title-new-article {
  text-align: center;
}
.form-add-article {
  width: 90%;
  margin: 0 auto 20px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  max-width: 1000px;
  padding: 10px;
  border: 1px solid black;
}

.form-add-article label {
  display: block;
}

.form-add-article input,
.form-add-article textarea,
.form-add-article select {
  width: 100%;
  border: 1px solid black;
  font-family: "Poppins", sans-serif;
  letter-spacing: 1px;
  font-size: 1rem;
  padding: 5px 10px;
}

.form-add-article input {
  height: 2rem;
}

.form-add-article textarea {
  resize: none;
}

.btn-upload-article {
  align-self: center;
  padding: 10px 40px;
  font-family: "Poppins", sans-serif;
  letter-spacing: 1px;
  font-size: 1rem;
}

/* // Dispositivos X-Small (teléfonos verticales, menos de 576px)
// No hay media queries para `xs` ya que este es el valor predeterminado en Bootstrap */

/* // Dispositivos pequeños (teléfonos horizontales, 576px y más) */
@media (min-width: 576px) {
  .news-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .news-link {
    width: 45%;
  }
}

/* // Dispositivos medianos (tabletas, 768px y más) */
@media (min-width: 768px) {
  .logo {
    font-size: 2.5rem;
  }

  body {
    padding-top: 60px;
  }

  .top-navbar {
    top: 60px;
  }

  .close-menu {
    top: 6px;
  }

  .news-img-bigger {
    height: 450px;
  }
}

/* // Dispositivos grandes (escritorios, 992px y más) */
@media (min-width: 992px) {
  .open-menu,
  .close-menu {
    display: none;
  }

  .top-navbar {
    display: block;
    position: static;
    width: auto;
    height: auto;
    overflow-y: visible;
    padding-top: 0;
  }

  .top-navbar ul {
    margin-right: 10px;
    display: flex;
    column-gap: 10px;
  }

  .top-navbar ul li {
    margin-bottom: 0;
  }

  .top-navbar ul li a:hover {
    border-bottom: 2px solid white;
  }

  .social-nav {
    position: fixed;
    left: 0;
    top: 40%;
    background-color: black;
    display: flex;
    flex-direction: column;
    border-radius: 0 10px 10px 0;
    padding: 10px 2px;
  }

  .social-nav a {
    margin: 0;
  }

  .social-nav a:hover {
    transform: scale(1.05);
  }

  .news-link {
    width: 30%;
  }

  .news-container-article {
    justify-content: flex-start;
    padding-left: 40px;
  }

  .article-container {
    width: 60%;
  }
}

/* // Dispositivos X-Large (escritorios grandes, 1200px y más) */
@media (min-width: 1200px) {
  .logo {
    font-size: 3rem;
  }

  body {
    padding-top: 72px;
  }
}

/* // Dispositivos XX-Large (escritorios más grandes, 1400px y más) */
@media (min-width: 1400px) {
}
